{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 3 versions", "safari >= 7"]
      },
      "exclude": ["transform-regenerator"]
    }]
  ],
  "plugins": ["fast-async"]
}
